[submodule "bat"]
	path = bat
	url = https://gitlab.com/wt0f/asdf-bat.git
[submodule "consul"]
	path = consul
	url = https://github.com/Banno/asdf-hashicorp.git
[submodule "deno"]
	path = deno
	url = https://github.com/asdf-community/asdf-deno.git
[submodule "doctl"]
	path = doctl
	url = https://github.com/maristgeek/asdf-doctl.git
[submodule "fd"]
	path = fd
	url = https://gitlab.com/wt0f/asdf-fd.git
[submodule "gcloud"]
	path = gcloud
	url = https://github.com/jthegedus/asdf-gcloud.git
[submodule "github-cli"]
	path = github-cli
	url = https://github.com/bartlomiejdanek/asdf-github-cli.git
[submodule "golang"]
	path = golang
	url = https://github.com/kennyp/asdf-golang.git
[submodule "helm"]
	path = helm
	url = https://github.com/Antiarchitect/asdf-helm.git
[submodule "k9s"]
	path = k9s
	url = https://github.com/looztra/asdf-k9s.git
[submodule "kubectl"]
	path = kubectl
	url = https://github.com/Banno/asdf-kubectl.git
[submodule "mkcert"]
	path = mkcert
	url = https://github.com/salasrod/asdf-mkcert.git
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/asdf-vm/asdf-nodejs.git
[submodule "python"]
	path = python
	url = https://github.com/danhper/asdf-python.git
[submodule "ripgrep"]
	path = ripgrep
	url = https://gitlab.com/wt0f/asdf-ripgrep.git
[submodule "ruby"]
	path = ruby
	url = https://github.com/asdf-vm/asdf-ruby.git
[submodule "rust"]
	path = rust
	url = https://github.com/code-lever/asdf-rust.git
[submodule "terraform"]
	path = terraform
	url = https://github.com/Banno/asdf-hashicorp.git
[submodule "tflint"]
	path = tflint
	url = https://github.com/skyzyx/asdf-tflint.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/aphecetche/asdf-tmux.git
[submodule "yarn"]
	path = yarn
	url = https://github.com/twuni/asdf-yarn.git
